

.venv
venv/
env.back/
venv.bak/
backend/.venv

__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.db
migrations/__pycache__/
backend/__pycache__/
frontend/node_modules/
frontend/.cache/
frontend/.env
