[Unit]
Description=Markdown Manager API
After=network.target

[Service]
Type=exec
User=dlittle
Group=dlittle
WorkingDirectory=/opt/markdown-manager-api
Environment="PATH=/home/dlittle/.local/bin:/opt/markdown-manager-api/.venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/dlittle/.local/bin/poetry run uvicorn app.main:app --host 127.0.0.1 --port 8000
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
