
[Unit]
Description=Markdown Manager API (Docker)
After=network.target docker.service
Requires=docker.service


[Service]
Type=simple
Restart=on-failure
RestartSec=5s
EnvironmentFile=/etc/markdown-manager.env
ExecStart=/usr/bin/docker run --rm --name markdown-manager-api \
  -e DATABASE_URL=${DATABASE_URL} \
  -p 8000:8000 \
  littledan9/markdown-manager:latest
ExecStop=/usr/bin/docker stop markdown-manager-api


[Install]
WantedBy=multi-user.target
